.footer {
  min-height: 573px;
  padding: 0 64px;
  padding-top: 15px;
  box-sizing: border-box;
}

.copyright {
  font-family: @font-family-alt-normal, sans-serif;
  font-size: @copyright-font-size;
  line-height: @copyright-line-height;
  color: @copyright-color;
}
