.main-block {
  padding-top: 68px;
  padding: 0 71px;
  box-sizing: border-box;
}

.main-head {
  margin-bottom: 19px;

  font-size: @main-head-font-size;
  line-height: @main-head-line-height;
  font-weight: bold;
  color: @main-head-color;

  span {
    color: @main-head-color-span;
  }
}

.subhead {
  margin-bottom: 41px;
  box-sizing: border-box;

  font-size: @subhead-font-size;
  line-height: @subhead-line-height;
  font-weight: normal;
  color: @subhead-color;
}

.describe {
  min-height: 190px;
  padding: 39px 0;
  box-sizing: border-box;

  font-size: @describe-font-size;
  line-height: @describe-line-height;
  color: @describe-color;

  border-bottom: 4px dotted @describe-border-color;
  border-top: 4px dotted @describe-border-color;
}

.features-block {
  min-height: 444px;
  padding: 45px 0;
  box-sizing: border-box;

  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.feature {
  float: left;
  min-height: 352px;
  width: 285px;
  padding: 34px 27px;
  margin-right: 51px;
  box-sizing: border-box;

  text-align: center;

  background-color: @features-bkg-color;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.5);

  &:last-child {
    float: right;
    margin-right: 0;
  }

  &__head {
    margin-bottom: 24px;

    font-size: @feature-head-font-size;
    line-height: @feature-head-line-height;
    font-weight: normal;
    color: @feature-head-color;
  }

  &__describe {
    padding: 28px 0;
    box-sizing: border-box;

    font-size: @feature-describe-font-size;
    line-height: @feature-describe-line-height;
    font-weight: normal;
    color: @feature-describe-color;

    border-top: 2px dotted @feature-describe-border-color;
  }

  &__btn-details {
    display: block;
    box-sizing: border-box;
    padding: 13px 0;

    font-size: @feature-btn-details-font-size;
    line-height: @feature-btn-details-line-height;
    color: @feature-btn-details-color;
    text-decoration: none;

    background-color: @feature-btn-details-bkg-color;
    box-shadow:  inset 0 0 10px rgba(0,0,0,0.5);
  }
}

.information-block {
  padding: 44px 0;
  box-sizing: border-box;

  border-bottom: 4px dotted @information-block-border-color;
  border-top: 4px dotted @information-block-border-color;
}

.client-testimonials {
  width: 488px;
  min-height: 370px;
  padding-right: 30px;
  box-sizing: border-box;

  border-right: 4px dotted @client-testimonials-border-color;

  &__head {
    margin-bottom: 32px;

    font-size: @client-testimonials-head-font-size;
    line-height: @client-testimonials-head-line-height;
    font-weight: normal;
    color: @client-testimonials-head-color;
  }
}

.testimonial {
//  width: 448px;
  min-height: 84px;
  margin-bottom: 38px;

  &:last-child {
    margin-bottom: 0;
  }

  &::after {
    content: "";
    display: block;
    clear: both;
  }

  &__avatar {
    float: left;
    width: 84px;
    height: 84px;

    background-color: @testimonial-avatar-bkg-color;
  }

  &__autor-block {
    float: right;
    width: 339px;
  }

  &__text {
    margin-bottom: 10px;

    font-size: @testimonial-text-font-size;
    line-height: @testimonial-text-line-height;
    color: @testimonial-text-color;
  }

  &__autor-name {
    font-size: @testimonial-autor-name-font-size;
    line-height: @testimonial-autor-name-line-height;
    color: @testimonial-autor-name-color;
    font-weight: bold;
  }

  &__autor-organization {
    font-size: @testimonial-autor-organization-font-size;
    line-height: @testimonial-autor-organization-line-height;
    font-weight: normal;
    text-decoration: none;
    color: @testimonial-autor-organization-color;
  }
}
