@header-color: #eeeeee;
@header-background-color: #333333;

@logo-color: #eeeeee;
@logo-font-size: 60px;
@logo-line-height: 60px;

@nav-font-size: 16px;
@nav-color-active: #03a8e6;

@main-head-font-size: 60px;
@main-head-line-height: 60px;
@main-head-color: #333333;
@main-head-color-span: #03a8e6;

@subhead-font-size: 50px;
@subhead-line-height: 50px;
@subhead-color: #bbbbbb;

@describe-font-size: 34px;
@describe-line-height: 42px;
@describe-color: #555555;
@describe-border-color: #bbbbbb;
